/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.photos{
    width: 241px;
    height: 214px;
    border: 3px solid rgb(250, 247, 247);
    box-shadow: 5px 10px rgb(77, 76, 76);
}


.letter{
    width: 45PX;
    PADDING-TOP: 9PX;
}
.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


.container {
    width: 500px;
    background-color: #ddd;
    justify-content: center;
    margin-left: 45px;
  }
  
  .skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }
  
  .html {width: 90%; background-color: #04AA6D;}
  .css {width: 80%; background-color: #2196F3;}
  .js {width: 65%; background-color: #f44336;}
  .php {width: 60%; background-color: #808080;}

.skill-main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.inner-skill{
    width: 37em;
    border: 2px solid black;
    height: 250px;
    padding-top: 15px;
    
}

.my-skills{
    text-align: center;
    padding: 15px;
    padding-top: 38px;
}
@media (max-width:600px){
    .inner-skill{
        width: 33em;  
       }
       .container{
         width: 450px;
       } 
}
@media (max-width:536px){
    .inner-skill{
        width: 20em;  
       }
       .container{
         width: 225px;
       } 
}
                               

.skill-name{
    padding-left: 20px;
}

.photo{
    width: 300px;
    height: 400px;
}